@import url("https://fonts.googleapis.com/css2?family=Irish+Grover&family=Rosarivo:ital@0;1&family=Rye&display=swap");
body {
    background-color: rgb(21, 32, 53);
}
#header-container {
    background-color: rgb(21, 45, 73);
}

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}

.navigation {
    display: flex;
    list-style: none;

}

.navigation li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

#social-links {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#social-links a {
    text-decoration: none;
    padding: 10px 15px;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
}

#myProfile {
    display: flex;
    align-items: center;
    margin-top: 50px;
    flex-direction: column;
}

#p1 {
    font-family: 'Rosarivo';
    font-size: larger;
    margin: 10px;
}

.p2 {
    font-family: 'Rosarivo';
    font-size: medium;
    margin: 10px;
}

li a:hover {
    background-color: rgb(16, 7, 65);
}


.navigation {
    display: flex;
    margin: 0 20px;
    padding: 15px 25px;
}

footer {
    background-color:  rgb(21, 45, 73);
}
