@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Press+Start+2P&family=Rosarivo:ital@0;1&display=swap');

body {
    background-color: rgb(21, 32, 53);
}

/* Utilities */

.navigation {
    display: flex;
    list-style: none;
}

.title {
    font-family: 'Press Start 2p', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 50px;
    gap: 10px;
    font-family: 'Rosarivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

li a:hover {
    background-color: rgb(16, 7, 65);
}

.navigation {
    display: flex;
    margin: 0 20px;
    padding: 15px 25px;
}

/* Header Container */

#header-container {
    background-color: rgb(21, 45, 73);
    padding: 5px 0;
}

/* Nav Container  */

#nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 50px;
}


.navigation li a {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 10px;
}

/* Profile Container  */

#profile-container {
    display: flex;
    justify-content: space-evenly;
}

#myProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

#introduction {
    font-family: 'Press Start 2p', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
}

#occupation {
    font-family: 'Electrolize', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    color: aqua;
}

#message {
    font-family: 'Rosarivo', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

#image-container {
    margin-top: 100px;
}

#image-container img {
    width: 50%;
    aspect-ratio: 1;
    border-radius: 50%;
}

/* Service Container  */

#service-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* About Container  */

#about-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* Skills Container  */

#skills-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Portfolio Container  */

#portfolio-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation Links  */

#main-container {
    height: 100vh;
}

#social-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

#findme {
    font-family: 'Rosarivo', sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: white;
}

#social-links {
    display: flex;
    flex-wrap: wrap;
}

#social-links a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px 30px;
    height: 30px; 
}

#social-links span {
   margin-left: 10px;
   margin-top: 10px;
}

/* Footer  */

footer {
    background-color:  rgb(21, 45, 73);
}
